<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h2>Welcome user</h2>
    <a href="/">HOME</a>
    <div class="tabledata">
      <table style="width: 100%">
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Createt at</th>
          <th>Updated at</th>
          <th>Action</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Tobias</td>
          <td>Linus</td>
          <td>create date</td>
          <td>update date</td>
          <td><a href="">delete</a> <a href="">edit</a></td>
        </tr>
      </table>
    </div>
    <a href="">add user</a>
  </body>
</html>
