<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!--    <link rel="stylesheet" href="../public/stylesheet/index.css " />
  
    i will change it because it has static directory in index.js file -->
    <link rel="stylesheet" href=" /stylesheet/index.css " />
  </head>
  <body>
    <h1>Render EJS Element</h1>
    <h3>ozkan condek</h3>
  </body>
</html>
